.house{
    margin-top: 100px;
}

.house-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.house__select{
    width: 542px;
}

.house-info{
    display: flex;
    justify-content: space-between;
}

