.house{
    margin-top: 100px;
}

.house-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 64px;
}

.universal-input-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

.find{
    width: 830px;
}

.house__select{
    width: 542px;
}

.house-info{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.appartment-info{
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}

.leaser-info{
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}

